@use '../../styles/variables' as v;

.app-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__body {
    display: flex;
    height: calc(100vh - #{v.$nav-height});
    margin-top: v.$nav-height;
    overflow: hidden;
  }

  &__main {
    flex: 1;
    overflow-y: auto;
    background: v.$color-bg;
  }
}
